.review-wrapper {
  float: left;
  width: 33vw;
  border: 1px #1E2019 solid;
  border-radius: 5px;
  padding: 1%;
  margin: 1%;
}

.loading {
  flex-grow: 1;
}

.name,
.comment,
.time {
  margin: 0;
  font-family: inter;
}

.reviews {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.page-wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  flex-grow: 1;
}

.title {
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: center;
}

.projects-wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1vh auto 1vh auto;
  grid-column: 1/2;
  grid-row: 2/3;
}

.project-1-wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-column: 1/2;
  grid-row: 1/2;
}

.project-2-wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-column: 1/2;
  grid-row: 3/4;
}

.project-3-wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-column: 1/2;
  grid-row: 5/6;
}

.project-description-wrapper-L2R {
  display: grid;
  grid-template-columns: 55% 8% auto;
  grid-template-rows: auto auto;
  grid-row: 1/2;
  grid-column: 1/2;
}

.project-description-wrapper-R2L {
  display: grid;
  grid-template-columns: auto 8% 55%;
  grid-template-rows: auto auto;
  grid-row: 1/2;
  grid-column: 1/2;
}

.reviews {
  grid-column: 1/2;
  grid-row: 2/3;
}

.project-1-image,
.project-3-image {
  grid-column: 1/2;
  grid-row: 1/3;
}

.project-2-image {
  grid-column: 3/4;
  grid-row: 1/3;
}

.project-1-title,
.project-3-title {
  grid-column: 3/4;
  grid-row: 1/2;
}

.project-2-title {
  grid-column: 1/2;
  grid-row: 1/2;
}

.project-1-description,
.project-3-description  {
  grid-column: 3/4;
  grid-row: 2/3;
}

.project-2-description {
  grid-column: 1/2;
  grid-row: 2/3;
}

a {
  text-decoration: none;
  color: #52528C;
}

a:hover {
  text-decoration: none;
  color: #1E2019;  
}

.project-1-image,
.project-2-image,
.project-3-image {
  width: 99%;
  height: 99%;
  border: 1px black solid;
  border-radius: 5px;
}

@media (max-width: 1080px) {  
    
  .title {
    grid-column: 1/2;
    grid-row: 1/2;
    font-family: inter;
    font-size: 3.3vw;
    text-align: center;
    text-decoration: underline;
  }
  
  .project-1-title,
  .project-3-title {
    grid-column: 3/4;
    grid-row: 1/2;
    align-content: end;
    font-family: inter;
    font-size: 2.4vw;
  }
  
  .project-2-title {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: right;
    align-content: end;
    font-family: inter;
    font-size: 2.7vw;
  }
  
  .project-1-description,
  .project-3-description {
    grid-column: 3/4;
    grid-row: 2/3;
    font-family: inter;
    font-size: 1.8vw;
  }
  
  .project-2-description {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: right;
    font-family: inter;
    font-size: 1.8vw;
  }
  
}

@media (min-width: 1080px) {
  
  .title {
    grid-column: 1/2;
    grid-row: 1/2;
    font-family: inter;
    font-size: 2.2vw;
    text-align: center;
  }
  
  .project-1-title,
  .project-3-title {
    grid-column: 3/4;
    grid-row: 1/2;
    align-content: end;
    font-family: inter;
    font-size: 2.2vw;
  }
  
  .project-2-title {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: right;
    align-content: end;
    font-family: inter;
    font-size: 2.2vw;
  }
  
  .project-1-description,
  .project-3-description {
    grid-column: 3/4;
    grid-row: 2/3;
    font-family: inter;
    font-size: 1vw;
  }
  
  .project-2-description {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: right;
    font-family: inter;
    font-size: 1vw;
  }
  
}