.wrapper {
  display: grid;
  grid-template-columns: 10vw 37vw 1vw 1vw 1vw 37vw auto;
  grid-template-rows: 2vw 5vw 25vw 1vw 1vw 1vw auto 2vh;
  flex-grow: 1;
}

.profile {
  grid-column: 2/3;
  grid-row: 2/4;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border: 0.4vh solid #1E2019;
  border-radius: 5px;
}

.overview {
  grid-column: 6/7;
  grid-row: 2/4;
  grid-template-columns: auto;
  grid-template-rows: 5vw 7vw 37vw;
  background-color: #52528C;
  border-radius: 5px;
}

@media (min-width: 1080px) {
  
  .title {
    grid-column: 1/2;
    grid-row: 1/2;
    font-family: inter;
    font-size: 2.5em;
    padding-left: 2vw;
    color: #FCFAF9;
  }
  
  .skills {
    grid-column: 3/4;
    grid-row: 1/2;
    padding-left: 6vw;
    font-family: inter;
    font-size: 1.3em;
    color: #FCFAF9;
  }
  
  .bio {
    grid-column: 2/7;
    grid-row: 6/8;
    font-family: inter;
    font-size: 1.2em;
    padding: 3vw;
    background-color: #52528C;
    border-radius: 5px;
    color: #FCFAF9;
    height: fit-content;
  }
  
}

@media (max-width: 1080px) {

  .title {
    grid-column: 1/2;
    grid-row: 1/2;
    font-family: inter;
    font-size: 1.5em;
    padding-left: 2vw;
    color: #FCFAF9;
  }

  .skills {
    grid-column: 3/4;
    grid-row: 1/2;
    padding-left: 6vw;
    font-family: inter;
    font-size: 1.7vw;
    color: #FCFAF9;
  }

  .bio {
    grid-column: 2/7;
    grid-row: 6/8;
    font-family: inter;
    font-size: 1em;
    padding: 3vw;
    background-color: #52528C;
    border-radius: 5px;
    color: #FCFAF9;
    height: fit-content;
  }

}

.hidden {
  display: none;
}