footer ul {
  margin: 0;
  display: inline-flex;
  list-style-type: none;
  align-items: center;
  width: 80%;
  justify-content: right;
}

footer a {
  color: #FCFAF9;
  text-decoration: none;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #FCFAF9;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1080px) {

  footer p {
    width: 100%;
    font-family: inter;
    color: #FCFAF9;
    font-size: 1em;
  }

  footer li {
    padding-right: 2vw;
    font-family: inter;
    font-size: 1em;
  }

  footer {
    background-color: #1E2019;
    display: inline-flex;
    padding: 0.5%;
    overflow: hidden;
  }

}

@media (max-width: 1080px) {
    
  footer p {
    width: 100%;
    font-family: inter;
    color: #FCFAF9;
    font-size: 0.5em;
  }

  footer li {
    padding-right: 2vw;
    font-family: inter;
    font-size: 0.5em;
  }

  footer {
    background-color: #1E2019;
    width: 98%;
    display: inline-flex;
    padding: 1%;
    overflow: hidden;
  }
  
}
